{% extends "layout.html" %} {# Start of title #} {% set pageName = "Board Members " %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<!-- MIDDLE CONTENT -->
<div class="main-content-wrapper">
    {% include "partials/left-sidebar-menu.html" %} {% include "partials/right-sidebar-menu.html" %}
    <div class="container">
        <div class="main-content div-match-height">
            <!--START INNER CONTENT-->
            <div class="left-sidebar-main-content">
                <h1 class="title-decoration">{{pageName}}</h1>
                </h1>
                <ul class="board-listing">
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                    <li>
                        <a href="bio.html">
                            <img src="http://dummyimage.com/260x280/888888/fff" alt="">
                        </a>
                        <h4>FirstName LastName</h4>
                        <strong>CEO</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, tenetur molestiae dolor quisquam assumenda, dolore quibusdam sapiente cupiditate vero ab, optio ducimus, quam rerum.</p>
                        <a href="bio.html" class="view-more">read more</a>
                    </li>
                </ul>
            </div>
            <!-- /.left-sidebar-main-content -->
            <!--/END INNER CONTENT-->
        </div>
        <!-- /.main-content -->
        {% include "partials/right-sidebar.html" %}
    </div>
    <!-- /.container -->
</div>
<!-- /.main-content-wrapper -->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}