{% extends "layout.html" %} {# Start of title #} {% set pageName = "Branches" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<!-- MIDDLE CONTENT -->
<div class="main-content-wrapper">
    {% include "partials/left-sidebar-menu.html" %} {% include "partials/right-sidebar-menu.html" %}
    <div class="container">
        <div class="main-content div-match-height">
            <h1 class="title-decoration">{{ pageName }}</h1>
            <p>Select the region of the branch contacts you would like to view using the drop down menu below</p>
            <form action="">
                <div class="form-group">
                    <select name="select-branches" id="" class="form-control">
                        <option value="estern" selected="selected">Eastern Zone</option>
                        <option value="west">West Zone</option>
                        <option value="northen">Northen Zone</option>
                        <option value="southern">Southern Zone</option>
                        <option value="central">Central Zone</option>
                    </select>
                </div>
                <!-- /.form-group -->
            </form>
            <div id="eastern-zoned">
                <h4>Eastern Zone Branches</h4>
                <ul class="branches-listing list-unstyled">
                    <li>
                        <p>
                            Dar es Salaam Office,
                            <br> Sokoine Street,
                            <br> P.o Box 9990,
                            <br> Tel: +255 889 999 889
                            <br> Email: email@email.com
                        </p>
                    </li><li>
                        <p>
                            Dar es Salaam Office,
                            <br> Sokoine Street,
                            <br> P.o Box 9990,
                            <br> Tel: +255 889 999 889
                            <br> Email: email@email.com
                        </p>
                    </li><li>
                        <p>
                            Dar es Salaam Office,
                            <br> Sokoine Street,
                            <br> P.o Box 9990,
                            <br> Tel: +255 889 999 889
                            <br> Email: email@email.com
                        </p>
                    </li><li>
                        <p>
                            Dar es Salaam Office,
                            <br> Sokoine Street,
                            <br> P.o Box 9990,
                            <br> Tel: +255 889 999 889
                            <br> Email: email@email.com
                        </p>
                    </li><li>
                        <p>
                            Dar es Salaam Office,
                            <br> Sokoine Street,
                            <br> P.o Box 9990,
                            <br> Tel: +255 889 999 889
                            <br> Email: email@email.com
                        </p>
                    </li><li>
    <p>
        Dar es Salaam Office,
        <br> Sokoine Street,
        <br> P.o Box 9990,
        <br> Tel: +255 889 999 889
        <br> Email: email@email.com
    </p>
</li>
                </ul>
            </div>
            <!-- /#eastern-zoned -->
        </div>
        <!-- /.main-content -->
        {% include "partials/right-sidebar.html" %}
    </div>
    <!-- /.container -->
</div>
<!-- /.main-content-wrapper -->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}