{% extends "layout.html" %} {# Start of title #} {% set pageName = "Facilities" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} 
    <!-- build:css css/dataTables.bootstrap.min.css -->
    <link href="bower_components/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- endbuild -->
{% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<!-- MIDDLE CONTENT -->
<div class="main-content-wrapper">
    {% include "partials/left-sidebar-menu.html" %} {% include "partials/right-sidebar-menu.html" %}
    <div class="container">
        <div class="main-content div-match-height">
            <h1 class="title-decoration">{{ pageName }}</h1>
            <form action="#" class="form-inline text-center">
                <div class="form-group">
                    <select name="regions" id="" class="form-control">
                        <option selected="selected" disabled="disabled">--Choose Region--</option>
                        <option value="arusha">Arusha</option>
                        <option value="arusha">Dar es Salaam</option>
                        <option value="arusha">Dodoma</option>
                        <option value="arusha">Singida</option>
                        <option value="arusha">Shinyanga</option>
                        <option value="arusha">Tanga</option>
                    </select>
                    <select name="regions" id="" class="form-control">
                        <option selected="selected" disabled="disabled">--Choose District--</option>
                        <option value="districtName">DistrictName</option>
                        <option value="districtName">DistrictName</option>
                        <option value="districtName">DistrictName</option>
                        <option value="districtName">DistrictName</option>
                        <option value="districtName">DistrictName</option>
                        <option value="districtName">DistrictName</option>
                        <option value="districtName">DistrictName</option>
                    </select>
                    <button class="btn btn-primary">Search Facilities</button>
                </div>
                <!-- /.form-group -->
            </form>
            <br>
            <br>
            <div class="facilities-table-wrapper">
                <table class="table table-striped"  id="facilities">
                    <thead>
                        <tr>
                            <th>Ward</th>
                            <th>Facility Name</th>
                            <th>Facility Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                WardName
                            </td>
                            <td>
                                <ul class="facilities-level-listing">
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="facilities-level-listing">
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Daname
                            </td>
                            <td>
                                <ul class="facilities-level-listing">
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="facilities-level-listing">
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                WardName
                            </td>
                            <td>
                                <ul class="facilities-level-listing">
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                    <li>FacilityName</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="facilities-level-listing">
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                    <li>FacilityLevel</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </div>
            <!-- /.facilities-table-wrapper -->
        </div>
        <!-- /.main-content -->
        {% include "partials/right-sidebar.html" %}
    </div>
    <!-- /.container -->
</div>
<!-- /.main-content-wrapper -->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %}
    <!--build:js js/jquery.dataTables.min.js -->
    <script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <!-- endbuild -->
    <!--build:js js/dataTables.bootstrap.min.js -->
    <script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <!-- endbuild -->

    <script>
       $(document).ready(function () {
            $('#facilities').DataTable();
        });
    </script>
{% endblock %}