{% extends "layout.html" %} {# Start of title #} {% set pageName = "FAQ " %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<!-- MIDDLE CONTENT -->
<div class="main-content-wrapper">
    {% include "partials/left-sidebar-menu.html" %} {% include "partials/right-sidebar-menu.html" %}
    <div class="container">
        <div class="main-content div-match-height">
            <!--START INNER CONTENT-->
            <div class="left-sidebar-main-content">
                <h1 class="title-decoration">{{pageName}}</h1>
                </h1>
                <div class="accordion">
                    <dl>
                        <dt class="active"><a href="#"><span class="arrow"></span>Quality</a></dt>
                        <dd class="active">
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </dd>
                        <dt><a href="#"><span class="arrow"></span>Products</a></dt>
                        <dd>
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </dd>
                        <dt><a href="#"><span class="arrow"></span>About Us</a></dt>
                        <dd>
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </dd>
                    </dl>
                </div>
                <!--/accordion-->
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.left-sidebar-main-content -->
            <!--/END INNER CONTENT-->
        </div>
        <!-- /.main-content -->
        {% include "partials/right-sidebar.html" %}
    </div>
    <!-- /.container -->
</div>
<!-- /.main-content-wrapper -->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}