{% extends "layout.html" %} 
{# Start of title #} 
  {% set pageName = "Home" %} 
{# End of title #} 
{% block TITLE_META %}
  <title>{{ pageName }} | {{ siteName }}</title>
  <meta name="description" content="some page description here" />
  <meta name="keywords" content="page keywords here" />
  <link rel="author" name="{{ author }}" />
  <link rel="canonical" href="pageUrl" /> 
{% endblock %}
<!--/END title and meta section-->

<!--START PAGE CSS-->
{% block CSS %} 
{% endblock %}
<!--/END PAGE CSS-->

{% block content %}
<!-- MIDDLE CONTENT -->
<p>A startup Html's package created by {{author}} </p>
{% endblock %}
<!--here comes the JS specific for home page-->
{% block JS %}

{% endblock %}
