{% extends "layout.html" %} {# Start of title #} {% set pageName = "Search" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<!-- MIDDLE CONTENT -->
<div class="main-content-wrapper">
    <!--START LEFT SIDEBAR MENU-->
    <div class="static-left-sidebar-menu-wrapper">
        <ul class="list-unstyled">
            <li class="sidebar-menu-1"><a href="single-page.html"><i class="icon-mouse"></i>Online  <span>Services</span></a></li>
            <li class="sidebar-menu-2"><a href="events.html"><i class="icon-bell-1"></i>Events</a></li>
            <li class="sidebar-menu-3"><a href="faq.html"><i class="icon-help"></i>FAQ</a></li>
        </ul>
    </div>
    <!-- /.static-left-sidebar-menu-wrapper -->
    <!--/END LEFT SIDEBAR MENU-->
    <div class="container">
        <div class="main-content div-match-height">
            <h1 class="title-decoration">{{ pageName }}</h1>
            <ul class="search-listing">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum at amet cum distinctio sunt, vitae. Tempore at veritatis, facere sint... <a href="#">more</a></li>
            </ul>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /.main-content -->
        {% include "partials/right-sidebar.html" %}
    </div>
    <!-- /.container -->
</div>
<!-- /.main-content-wrapper -->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}