/**
    * ------------------------------------------------------------
    * Gallery Page
    * ------------------------------------------------------------
*/


/**
    * ------------------------------------------------------------
    * Video Plugin Cuustomization
    * ------------------------------------------------------------
*/

.mfp-title {
    position: absolute;
    color: #fff;
    background: transparent;
    width: 100%;
    font-size: 18px;
    //  padding: 10px 15px;
}


/**
    * ------------------------------------------------------------
    * Single Gallery
    * ------------------------------------------------------------
*/

.popup-gallery {
    //    padding-left: span(1);
    a {
        img {
            margin-bottom: 4px;
            width: 258px;
            height: 180px;
        }
    }
}
