/**
     * ------------------------------------------------------------
     * How do I
     * ------------------------------------------------------------
*/

.how-do-i-lists {
    padding: 0px;
    li {
        position: relative;
        list-style-type: none;
        padding-left: 16px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        position: relative;
        padding-left: 15px;
        border-bottom: 0.0625em solid #ececec;


        a {
            @extend .text-spacing;
            i {
                position: absolute;
                left: 0px;
                top: 3px;
                color: $link-hover-color;
            }
        }
    }
}