/**
     * ------------------------------------------------------------
     * Operations
     * ------------------------------------------------------------
*/

.operations-wrapper {
    background-color: #fff;
    display: inline-block;
    margin: 10px 0;
}

.operations-content {
    @include span(12);
    padding: 20px;
    h2,
    h3,
    h4 {
        margin: 0px;
        font-size: 20px;
        color: $link-color;
        margin-bottom: 3px;
        font-weight: 300;
    }
    .operations-media {
        display: inline-block;
        float: right;
        /* padding: 20px; */
        margin: 3px 0 3px 3px;
        p {
            margin: 0px;
        }
        .popup-gallery {
            ul {
                padding: 0px;
                margin: 0;
                list-style-type: none;
                li {
                    position: relative;
                    display: none;
                    &:first-child {
                        display: block;
                        a {
                            img {
                                width: 380px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        span {
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            font-weight: 600;
            i {
                position: relative;
                top: 2px;
            }
        }
    }
}

.mfp-title {
    padding: 10px;
}
