<!--START FOOTER SECTION-->
<div class="min-footer-wrapper">
    <div class="container">
        <div class="min-footer-widget">
            <h4>
                 News and  Highlights</h4>
            <ul class="footer-news-listing">
                <li>
                    <span>July 12, 2017</span>
                    <a href="single-news.html">
                            Mrs. Makinda holds the card through the Toto Health Card plan
                                                    </a></li>
                <li>
                    <span>June 16, 2017</span>
                    <a href="single-news.html">
                                NHIF ICT VACANCIES JUNE 2017
                                                    </a></li>
                <li>
                    <span>May 17, 2017</span>
                    <a href="single-news.html">
                          NHIF VACANCY OPPORTUNITIES - DIRECTORS ONLY
                                                    </a></li>
            </ul>
            <p> <strong>More in</strong> <a href="news.html">NHF News</a></p>
        </div>
        <!-- /.min-footer-widget -->
        <div class="min-footer-widget">
            <h4> Related Links</h4>
            <ul class="list-unstyled footer-listing">
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
                <li><a href="#"><i class="icon-arrow-carrot-2right"></i> Lorem ipsum dolor sit.</a></li>
            </ul>
        </div>
        <!-- /.min-footer-widget -->
        <div class="min-footer-widget">
            <h4> Feedback</h4>
            <form action="#">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your name *">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your email *">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Your phone number ">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <textarea name="feedback-msg" id="" cols="30" rows="4" placeholder="Message *" class="form-control"></textarea>
                </div>
                <!-- /.form-group -->
                <button class="btn btn-primary">Send</button>
            </form>
        </div>
        <!-- /.min-footer-widget -->
        <div class="min-footer-widget last">
            <h4> Contact Details</h4>
            <ul class="list-unstyled footer-contact-list">
                <li>
                    <i class="icon-phone"></i>
                    <h5>call us</h5>
                    <p> +255 22 2133969/2133964</p>
                </li>
                <li>
                    <i class="icon-fire"></i>
                    <h5>hotline</h5>
                    <p>+0800110063</p>
                </li>
                <li>
                    <i class="icon-location"></i>
                    <h5>Address</h5>
                    <p>P.O. Box 11360, Dar es Salaam,
                        <br>Tanzania</p>
                </li>
                <li>
                    <i class="icon-envelope"></i>
                    <h5>Email</h5>
                    <p>info@nhif.or.tz</p>
                </li>
            </ul>
        </div>
        <!-- /.min-footer-widget -->
    </div>
    <!-- /.container -->
</div>
<!-- /.min-footer-wrapper -->
<footer id="main-footer">
    <div class="container">
        <p class="text-center"> &copy; 2017 {{ siteName }}. Designed and Developed by <a href="http://ega.go.tz" target="_blank">e-Government Agency</a>. Content Managed by {{ siteName }}</p>
        <ul class="copy-listing list-unstyled">
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Staff Emails</a></li>
        </ul>
    </div>
    <!-- /.container -->
</footer>
<!--/END FOOTER SECTION-->