<div class="home-left-sidebar-container  div-match-height">

    <!--START SEARCH FORM-->
    <div class="home-sidebar-content-container white">
        <div id="search-form">
            <form action="#">
                <input type="search" placeholder="Search here">
                <button type="submit"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
    <!-- /.home-sidebar-content-container -->
    <!--/END SEARCH FORM-->
    <!--START HOME PUBLICATIONS-->
    <div class="home-sidebar-content-container bt-none">
        <h3 class="title-decoration"><span>Latest Downloads</span></h3>
        <ul>
            <li><a href="#"><i class="icon-clip"></i> Lorem ipsum dolor sit adipisicing</a></li>
            <li><a href="#"><i class="icon-clip"></i> Lorem ipsum dolor sit adipisicing</a></li>
            <li><a href="#"><i class="icon-clip"></i> Lorem ipsum dolor sit adipisicing</a></li>
            <li><a href="#"><i class="icon-clip"></i> Lorem ipsum dolor sit adipisicing</a></li>
            <li><a href="#"><i class="icon-clip"></i> Lorem ipsum dolor sit adipisicing</a></li>
        </ul>
    </div>
    <!-- /.sidebar-content-container  -->
    <!--/END HOME PUBLICATIONS-->
    <!--START HOME STUDENTS-->
    <div class="home-sidebar-content-container ">
        <h3 class="title-decoration"><span>For Students</span></h3>
        <ul>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>ALMANAC</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Timetable</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>By Laws</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Prospectus</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Training Workshops</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-content-container  -->
    <!-- /.sidebar-content-container  -->
    <!--/END HOME STUDENTS-->
    <!--START HOME STAFF-->
    <div class="home-sidebar-content-container ">
        <h3 class="title-decoration"><span>For STAFF</span></h3>
        <ul>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit.</a>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-content-container  -->
    <!-- /.sidebar-content-container  -->
    <!--/END HOME STAFF-->

</div>
<!-- /.home-left-sidebar-container -->