<!--START LEFT SIDEBAR MENU-->
<div class="static-left-sidebar-menu-wrapper">
    <ul class="list-unstyled">
        <li class="sidebar-menu-1"><a href="single-page.html"><i class="icon-mouse"></i>Online  <span>Services</span></a></li>
        <li class="sidebar-menu-2"><a href="facilities.html"><i class="icon-facility"></i>Accredited <span>Facilities</span></a></li>
        <li class="sidebar-menu-3"><a href="faq.html"><i class="icon-help"></i>FAQ</a></li>
    </ul>
</div>
<!-- /.static-left-sidebar-menu-wrapper -->
<!--/END LEFT SIDEBAR MENU-->