<!--START MAIN MENU-->
<ul class="nav  navbar-nav nav-mega">
    <li class="active">
        <a href="."> Home</a>
    </li>
    <li><a href="#">About Us

            <ul class="dropdown-menu ">
                <li><a href="single-page.html">Chairman Statement</a></li>
    <li><a href="single-page.html">DG Statement</a>
        <ul class="dropdown-menu  dropdown-menu-mega">
            <li>
                <div class="mega-container">
                    <div>
                        <img src="http://dummyimage.com/160x180/888888/fff " alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia similique, cum magni est ratione nemo sed voluptatem! Quas magnam aliquid animi facere, cupiditate molestiae quam, doloribus amet maxime voluptatibus facilis quasi alias eos odio mollitia id consequuntur atque earum aut.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ducimus natus eligendi reiciendis consequatur, eos, provident reprehenderit illum et. Quas iste, dicta aliquid asperiores natus tenetur expedita. Laborum a aliquid ratione impedit consequuntur eum dignissimos blanditiis culpa aspernatur aliquam suscipit ab, doloribus beatae quos fuga qui perferendis quod cumque vero.</p>
                        <a href="single-page.html" class="btn btn-primary btn-link-button"> Read More  <i class="icon-arrow-carrot-right"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="single-page.html">Profile</a></li>
    <li><a href="single-page.html">MIssion and Vision</a></li>
    <li><a href="board.html">Organization Structure</a></li>
    <li><a href="board.html">Board Members</a></li>
</ul>
</li>
<li><a href="#">Membership</a>
    <ul class="dropdown-menu">
        <li><a href="single-page.html">Interfaith Staff of Religious Denomination</a></li>
        <li><a href="single-page.html">Private Groups of Entrepreneurs (Domain)</a></li>
        <li><a href="single-page.html">Public Institutions</a></li>
        <li><a href="single-page.html">Private Companies</a></li>
        <li><a href="single-page.html">Retirees</a></li>
        <li><a href="single-page.html">Students</a></li>
    </ul>
</li>
<li><a href="#">Services</a>
    <ul class="dropdown-menu">
        <li><a href="single-page.html">Benefits Package</a></li>
        <li><a href="single-page.html">Conditions for Special Approval Services </a></li>
        <li><a href="single-page.html">Excluded Services</a></li>
        <li><a href="#">Online Services</a>
            <ul class="dropdown-menu">
                <li><a href="single-page.html">Service Approval</a></li>
                <li><a href="single-page.html">Member Verification</a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a href="#">Accreditation</a>
    <ul class="dropdown-menu">
        <li><a href="single-page.html">Overview</a></li>
        <li><a href="single-page.html">Accreditation Procedure </a></li>
        <li><a href="single-page.html">Search Accredited Facility</a></li>
    </ul>
</li>
<li><a href="#">Investment</a>
    <ul class="dropdown-menu">
        <li><a href="single-page.html">Investment Policy</a></li>
        <li><a href="single-page.html">Projects </a></li>
        <li><a href="single-page.html">Loans</a></li>
    </ul>
</li>
<li><a href="branches.html">Branches</a>
</li>
<li><a href="#">Downloads</a>
    <ul class="dropdown-menu">
        <li><a href="publications.html">Forms</a></li>
        <li><a href="publications.html">Reports</a></li>
        <li><a href="publications.html">Case Studies</a></li>
        <li><a href="publications.html">Statistics</a></li>
    </ul>
</li>
<li><a href="#">Media Archive</a>
    <ul class="dropdown-menu">
        <li><a href="press-releases.html">Press Releases</a></li>
        <li><a href="videos.html">Video Gallery</a></li>
        <li><a href="gallery.html">Photo Gallery</a></li>
        <li><a href="speeches.html">Speeches</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="events.html">Events</a></li>
    </ul>
</li>
</ul>
<ul class="navbar-nav nav navbar-right">
    <li>
        <a href="#" onclick="jQuery('#toggle-top-2').toggleClass('open-search');"> <i class="icon-search"></i></a>
    </li>
</ul>
<!--/END MAIN MENU-->