<!--START RIGHT SIDEBAR MENU SOCIAL MEDIA-->
<div class="static-right-sidebar-menu-wrapper">
    <ul class="list-unstyled social-media-listing">
        <li><a href="#" target="_blank"><i class=" icon-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class=" icon-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class=" icon-youtube"></i></a></li>
        <li><a href="#" target="_blank"><i class=" icon-linkedin"></i></a></li>
        <li><a href="#" target="_blank"><i class=" icon-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class=" icon-google-plus"></i></a></li>
    </ul>
</div>
<!-- /.static-right-sidebar-menu-wrapper -->
<!--/END RIGHT SIDEBAR MENU SOCIAL MEDIA-->