<div class="right-sidebar-wrapper div-match-height">
    <!--START SIDEBAR NEWS-->
    <div class="right-sidebar-container">
        <h2 class="home-page-title-one-left"> <span>LATEST NEWS</span></h2>
        <ul class="sidebar-news-lists">
            <li>
                <a href="single-news.html">
                    <img src="http://dummyimage.com/80x80/888888/fff" alt="add some text here to discribe the image">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, voluptate!</h4>
                </a>
                <span>July 24, 2016</span>
            </li>
            <li>
                <a href="single-news.html">
                    <img src="http://dummyimage.com/80x80/888888/fff" alt="add some text here to discribe the image">
                    <h4>Ab perspiciatis dolores facilis soluta laudantium, officia labore error tenetur.</h4>
                </a> <span>July 24, 2016</span></li>
            <li>
                <a href="single-news.html">
                    <img src="http://dummyimage.com/80x80/888888/fff" alt="add some text here to discribe the image">
                    <h4>Nisi enim rem atque ea asperiores sequi harum sit modi!</h4>
                </a> <span>July 24, 2016</span></li>
            <li>
                <a href="single-news.html">
                    <img src="http://dummyimage.com/80x80/888888/fff" alt="add some text here to discribe the image">
                    <h4>A neque fuga provident, eius eos, doloremque accusamus.</h4>
                </a> <span>July 24, 2016</span></li>
            <li>
                <a href="single-news.html">
                    <img src="http://dummyimage.com/80x80/888888/fff" alt="add some text here to discribe the image">
                    <h4>A neque fuga provident, eius eos, doloremque accusamus.</h4>
                </a> <span>July 24, 2016</span></li>
        </ul>
        <!-- /.ads-listing -->
    </div>
    <!-- /.right-sidebar-container -->
    <!--/END SIDEBAR NEWS-->
    <!--START How DO I-->
    <div class="right-sidebar-container">
        <h2 class="home-page-title-one-left"><span>How DO I</span></h2>
        <ul class="ads-listing">
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, dolores!</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, necessitatibus.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, sunt.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, sunt.</a>
            </li>
            <li><a href="right-sidebar.html"><i class="icon-arrow-carrot-right"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, sunt.</a>
            </li>
        </ul>
        <!-- /.ads-listing -->
    </div>
    <!-- /.right-sidebar-container -->
    <!--/END OF  How DO I-->
</div>
<!-- /.left-sidebar-wrapper -->
