<div class="right-sidebar-wrapper  div-match-height">
    <!--START  NEWS-->
    <div class="right-sidebar-container">
        <h2>Latest News</h2>
        <ul class="list-unstyled sidebar-news">
            <li>
                <a href="single-news.html">
                   <img src="http://dummyimage.com/100x70/888888/fff  " alt="">
                   <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
             </a>
            </li>
            <li>
                <a href="single-news.html">
                   <img src="http://dummyimage.com/100x70/888888/fff  " alt="">
                   <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
             </a>
            </li>
            <li>
                <a href="single-news.html">
                   <img src="http://dummyimage.com/100x70/888888/fff  " alt="">
                   <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
             </a>
            </li>
            <li>
                <a href="single-news.html">
                   <img src="http://dummyimage.com/100x70/888888/fff  " alt="">
                   <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
             </a>
            </li>
        </ul>
    </div>
    <!-- /.right-sidebar-container -->
    <!--/END OF  NEWS-->
    <!--START  EVENTS-->
    <div class="right-sidebar-container">
        <h2>Latest Events</h2>
        <ul class="list-unstyled sidebar-events">
            <li>
                <div class="event-date">
                    03 <span>Sept</span>
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                </div>
                <!-- /.event-content -->
            </li>
            <li>
                <div class="event-date">
                    03 <span>Sept</span>
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                </div>
                <!-- /.event-content -->
            </li>
            <li>
                <div class="event-date">
                    03 <span>Sept</span>
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                </div>
                <!-- /.event-content -->
            </li>
            <li>
                <div class="event-date">
                    03 <span>Sept</span>
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                </div>
                <!-- /.event-content -->
            </li>
        </ul>
    </div>
    <!-- /.right-sidebar-container -->
    <!--/END OF  EVENTS-->
    <!--START  DOCUMENTS-->
    <div class="right-sidebar-container">
        <h2>Latest Documents</h2>
        <ul class="list-unstyled sidebar-docs">
            <li>
                <div class="event-date">
                    <img src="images/icons/pdf.png" alt="">
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    <em> <small><strong>(1.9 kb)</strong></small> </em>
                </div>
                <!-- /.event-content -->
            </li>
            <li>
                <div class="event-date">
                    <img src="images/icons/word.png" alt="">
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    <em> <small><strong>(910 kb)</strong></small> </em>
                </div>
                <!-- /.event-content -->
            </li>
            <li>
                <div class="event-date">
                    <img src="images/icons/ppt.png" alt="">
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    <em> <small><strong>(2 Mb)</strong></small> </em>
                </div>
                <!-- /.event-content -->
            </li>
            <li>
                <div class="event-date">
                    <img src="images/icons/excel.png" alt="">
                </div>
                <!-- /.event-date -->
                <div class="event-content">
                    <h4> <a href="single-events.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    <em> <small><strong>(3 kb)</strong></small> </em>
                </div>
                <!-- /.event-content -->
            </li>
        </ul>
    </div>
    <!-- /.right-sidebar-container -->
    <!--/END OF  DOCUMENTS-->
</div>
<!-- /.left-sidebar-wrapper -->